/*登录*/
.login_box{
  position: absolute;
  left: 50%;
  top:50%;
  width: 280px;
  height: 290px;
  margin-top: -145px;
  margin-left: -140px;
  padding-top: 35px;
  background-color: #ffffff;
  border-radius: 4px;
}

.login_box .login_tit{
  text-align: center;
  font-size: 15px;
}
.login_box .login_list{
  margin-top: 15px;
  padding: 0px 24px;
  width: 100%;
}
.login_list li{
  padding: 12px 0px;
  width: 100%;
}
.login_list li input{
  width: 100%;
  height: 35px;
  padding-left: 10px;
  border:1px solid #cccccc;
}
.login_list li .login_btn{
  display: block;
  width: 100%;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #ff5657;
  cursor: pointer;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.login_list li .login_btn:hover{
  opacity: 0.9;
}
.login_box .forget_box{
  padding: 0px 25px;
  overflow: hidden;
}
.login_box .forget_box a{
  color: #333333;
  font-size: 12px;
}







