/* 框架结构 */
body{
  border:1px solid blue;
  /* height: 100%; */
}


/* 头部 固定*/
header{
  width: 100%;
  background: #f2f2f2;
}
header .header_content{
  width: 1024px;
  height: 80px;
  border:1px solid red;
}

/* 内容 固定*/

.frame_con{
  width: 100%;
  border:1px solid green;
}
/* banner*/
.frame_con .con_banner{

}
/* 核心内容区*/
.frame_con .con_content{
  
}
/*底部*/
footer{
  width: 100%;
  height: 250px;
  color: #fff;
  background-color: #555555;
}


















